@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2977f5;
}

#nprogress .bar {
  box-shadow: none;
  height: 5px !important;
}

#nprogress .bar .peg {
  box-shadow: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

body,
html,
#app {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  scroll-behavior: smooth;
  @apply bg-gray-bg;
}

.button {
  @apply cursor-pointer bg-accent block rounded-lg p-4 text-center
         uppercase leading-none font-bold text-sm text-white transition
         focus:outline-none focus:shadow-none;
}
.button-disabled {
  @apply cursor-not-allowed  bg-type-light;
}

.input-group:focus-within label {
  @apply text-accent-light;
}

.input-group label {
  @apply text-xs font-bold uppercase text-type-light mb-3 transition;
}

.input-group input,
.input-group textarea {
  @apply border-2 border-gray-bg focus:border-accent focus:outline-none rounded-lg p-3 w-full;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: none !important;
}

.input-group .error {
  @apply text-red-700 text-sm mt-2;
}

.input-group .success {
  @apply text-green-900 text-sm mt-2;
}

.dropdown {
  @apply rounded-md border-2 border-gray-bg focus-visible:outline-none focus-visible:border-accent bg-gray-bg p-3;
}
.part-card {
  @apply m-3 px-8 pt-10 pb-8 flex-grow w-80 bg-white rounded-lg shadow-md box-border;
}
.checkbox {
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  @apply appearance-none border-2 border-accent-light rounded-sm cursor-pointer;
}
.checkbox::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--accent);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox:checked::before {
  transform: scale(1);
}

.popup-content {
  @apply bg-gray-bg border-2 border-accent-light lg:w-1/3 w-3/4 m-auto box-border rounded-3xl p-7 py-10;
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
.popup-arrow {
  -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* @media (min-width: 1024px) {
  .w-19\/20 {
    width: 95%;
  }
} */
